@import "color";

.Signup {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 2, 1);
    height: 90vh;

    form {
        width: 450px;
        border-radius: 8px;
        background-color: rgb(192, 89, 15);
        padding: 3rem;
        box-shadow: rgba(245, 240, 240, 0.35) 0px 5px 15px;
       
        border: none;
        &:hover {
            animation-name: rotate;
            animation-duration: 0.1s;
            animation-delay: 0s;
          }
          @keyframes rotate {
            0% {
              transform: rotate(0);
            }
            100% {
              transform: rotate(180deg);
            }
          }
        h1{
            display: flex;
            justify-content: center;
            align-items: center;
            font: 600 1rem ;
            padding: 1rem;

        }
        div{
            padding: 1rem;
            border-radius: 8px;
            input{
                width: 100%;
                padding: 1rem;
                border: none;
               
                border-radius: 8px;
                box-shadow: rgba(245, 240, 240, 0.35) 0px 5px 15px;
                &::placeholder{
                    font-size: 1rem;
                }
            }
            button{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1rem;
                font-weight: 700;
                background-color: burlywood;
                color: black;
                border-radius: 8px;
                width: 150px;
                padding: 1rem;
                cursor: pointer;
                border: none;
                &:hover{
                    background-color: pink;
                    border: none;
                }
            }
           
        }
       
    }



}